* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    min-height: 100vh;
    width: 100vw;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.update {
    background-image: linear-gradient(to bottom, #6cb5fa, #e69bcc);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 1s ease;
    overflow: hidden;
}

.update:has(#announcement:checked) {
    overflow: scroll;
}

.envelope {
    margin: 30vh 0 10vh 0;
    width: 300px;
    height: 200px;
    position: relative;
    background: #e8bc1b;
    cursor: pointer;
    transition: all 1s ease;
}

.envelope:hover {
    animation: wiggle 3s linear infinite;
}

#announcement:checked+.envelope:hover {
    animation: none;
}
.top-side {
    border-bottom: 150px solid #e8bc1b;
    top: -150px;
    transform-origin: bottom;
    z-index: 6;
    transform: rotateX(180deg);
    transition: all 0.8s 0.6s ease;
}

.envelope .bottom-side {
    border-bottom: 150px solid #a48308;
    position: absolute;
    bottom: 0;
    z-index: 4;
}

.top-side,
.bottom-side {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    position: relative;
}

.left-side {
    border-left: 125px solid #d6aa0c;
    position: absolute;
    left: 0;
}

.right-side {
    border-right: 125px solid #d6aa0c;
    position: absolute;
    right: 0;
}

.left-side,
.right-side {
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    top: 0;
    z-index: 4;
}

.contents {
    width: 90%;
    position: absolute;
    background-color: rgb(251, 255, 239);
    padding: 1em 0 8em 0;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    transition: all 1s ease;
}

.contents p {
    font-weight: 600;
    opacity: 0;
    width: 100%;
    transition: all 1s ease;
}

#announcement {
    display: none;
}

#announcement:checked~.envelope {
    box-shadow: black .5em .5em .5em;
    transform: scale(1.1);
    transition: all 1s ease;
}

#announcement:checked+.envelope .top-side {
    transform: rotate(0deg);
    z-index: 3;
}

#announcement:checked+.envelope p {
    opacity: 100;
    top: -70%;
    z-index: 3;
}

#announcement:checked+.envelope .contents {
    translate: 0 -2em;
    transition: all 1s 1s ease;
}

.details {
    font-size: 1.5em;
    line-height: 2em;
    opacity: 0;
    transition: all 1s ease;
}

#announcement:checked~.details {
    opacity: 100;
    transition: all 1s 1.5s ease;
}

.photos {
    margin: 2em 2em 30vh 2em;
    display: flex;
    flex-direction: column;
    transition: all 1s 2s ease;
}

#announcement:checked~.photos {
    transition: all 1s 2s ease;
}

#announcement:checked~.photos>img {
    opacity: 100;
    visibility: visible;
    transition: all 1s 3s ease;
}

.photos>img {
    opacity: 0;
    visibility: hidden;
    object-fit: contain;
    max-width: 40vw;
    max-height: 70vh;
    background-color: white;
    border: 2em solid white;
    border-radius: 1%;
    margin: 1em;
    box-shadow: black .5em .5em .5em;
    transition: all 1s 3s ease;
}

.photos img:nth-child(1) {
    rotate: 10deg;
}

.photos img:nth-child(2) {
    rotate: -5deg;
}

.photos img:nth-child(3) {
    rotate: 12deg;
}

.photos img:nth-child(4) {
    rotate: -8deg;
}

.photos img:hover {
    animation: wiggle 3s infinite;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
